# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Expo Prebuild (CNG)
/ios
/android

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# iOS build artifacts
MaakHealth.app/
*.app/
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Debug files
*.debug.dylib
*.dylib

# Firebase
google-services.json
GoogleService-Info.plist

# Logs
*.log
pglite-debug.log
