[submodule "ml-service/papagei-foundation-model"]
	path = ml-service/papagei-foundation-model
	url = https://github.com/Nokia-Bell-Labs/papagei-foundation-model.git
[submodule "firebase-ios-sdk"]
	path = firebase-ios-sdk
	url = https://github.com/firebase/firebase-ios-sdk.git
