<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.falldetection">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name=".FallDetectionService"
            android:exported="false"
            android:foregroundServiceType="health" />
    </application>
</manifest>
